.contacts{
    display: flex;
    background-color: #004274;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 70px;
}

.contacts__title{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    margin: 0 0 20px;
}

.contacts__desc, .contact__desc, .contact__number{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #fff;
    margin: 0 0 20px;
}

.contacts__icon{
    height: 14px;
    width: 14px;
    margin-right: 26px;
    margin-top: 3px;
}

.contacts__info{
    max-width: 250px;
    margin-right: 30px;
}

.contact__info{
    display: flex;
}

.contact__desc{
    margin-bottom: 10px;
}