.footer{
    display: flex;
    background-color: #00335a;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 25px;
}

.footer__title, .footer__link{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #fff;
}

.footer__title{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* text-align: center; */
}

.footer__info{
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.footer__item{
    margin-right: 10px;
    margin-left: 10px;
}

@media (max-width:990px){
    .footer__list{
        flex-direction: column;
        justify-content: center;
    }

    .footer__info{
        width: 100%;
        justify-content: center;
    }
}