.header {
    background-color: #fff;
    width: 100%;
}

.header__row{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.header__fixed {
    position: fixed;
    z-index: 1000;
}

.header__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width:1200px){ 
    .header__content{
        justify-content: center;
    }
}

.logo__content{
    display: flex;
    align-items: center;
    font-size: 25px;  
    font-family: 'Bebas';  
    text-transform: uppercase;
}



.logo__dom{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #282828;
}

.logo__stick{
    font-family: 'Oswald', sans-serif;
    color: #96db7c;
    margin-left: 10px;
    margin-right: 10px;
}

.logo__urgent{
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    color: #282828;
    flex-wrap: nowrap;
    width: 164px;
}



.logo__img{
    height: 43px;
    width: 43px;
    margin-right: 8px;

}

.header__navigation{
    display: flex;
    align-items: center;
}

@media (max-width:1200px){ 
    .header__logo-content{
        display: none;
    }
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar-collapse {
    justify-content: space-around;
}

.navbar-toggler {
    border: 0;
    background-color: #fff;
}

.nav-item{
    font-family: 'Oswald', sans-serif;
    color: #1B2B54;
    font-size: 18px;    
    font-weight: lighter;
    text-transform: uppercase;
    filter: contrast(13.81);
}

.navigation__item{
    padding-right: 36px;
}

.navigation__item:last-child{
    padding-right: 10px;
}

.navigation__list{
    display: flex;
    align-items: center;
    padding-left: 0;
}

@media (max-width:1200px){ 
    .header__contacts-content{
        display: none;
    }
}

.header__address{
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    margin-bottom: 10px;
}

.header__phone{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #96db7c;
}

.header__number{
    color: #96db7c;
    font-family: 'Oswald', sans-serif;

}

.address__logo{
    margin-right: 15px;
}

.phone__logo{
    margin-right: 12px;
}