.reasons__head{
    display: flex;
    align-items: center;
	text-align: center;
    width: 100%;
    min-height: 80px;
    background-color: #0F3161;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 40px;
}

.reasons-head__block{
    display: flex; 
    align-items: center;  
}

.reasons__title{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    filter: contrast(19.77);
    margin-left: 30px;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
	list-style-type: none;
}

.reason-row--last{
    margin-bottom: 30px;
}

.reason{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}


.reason__circle{
	height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 6px solid #83d260;
    text-align: center;
    display: flex;
    align-items: center;
}

.reason__block-for-circle{
    height: 50px;
    width: 50px;
    margin-right: 30px;
}

.reason__number{
    color: #529e30;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px; 
    margin-right: auto;
    margin-left: auto;
}

.reason__desc{
    font-family: 'Menlo', sans-serif;
    font-weight: bold;
    filter: contrast(19.77);
    font-size: 20px; 
    line-height: 28px;
}

.reasons__phone{
    display: flex;
    align-items: center;
    width: 316px;
    height: 83px;
    text-align: center;
    background: #243669;
    border: 10px solid #dbe1f2;
    margin-bottom: 40px;
}

.reasons-phone__block{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.reasons-phone__number{    
    color: #fff;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.reasons-phone__icon{
    margin-right: 10px;
}

.warning{
    background: #83d260;
    height: 20px;
    width: 94px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    display: block;
    align-items: center;
    position: relative;
    -moz-transform: rotate(15deg); /* Для Firefox */
    -ms-transform: rotate(15deg); /* Для IE */
    -webkit-transform: rotate(15deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(15deg); /* Для Opera */
    transform: rotate(45deg);
}

.warning::before{
    content: ''; 
    position: absolute;
    right: 93px; 
    top: 0px;
    border: 10px solid transparent;
    border-right: 10px solid #83d260; 
    border-bottom: 10px solid #83d260;
}

.warning::after{
    content: ''; 
    position: absolute;
    right: -19px; 
    top: 0px;
    border: 10px solid transparent;	
    border-left: 10px solid #83d260; 
    border-top: 10px solid #83d260;
}