.value__title{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #000;
    filter: contrast(19.77);    
    margin: 0 0 20px;
    margin-top: 80px;

}

.value__subtitle{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #000;
    filter: contrast(19.77);
    margin: 0 0 40px;
}

.form__value{
    position: relative;
    margin-bottom: 30px;
}

.value__error{
    color: red;
    position: absolute;
}

.form-value__input, .form-value__select{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 6px 15px;
    border-radius: 5px;
    border: 1px solid;
    border-color: lightgrey;
    height: 50px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.form-value__select:hover{
    background-color: #f2f2f2;
}

select:required:invalid {
    color: gray;
}

.value__option{
    height: 20px;
}

.btn__send{
    width: 120px;  
    height: 50px;
    background-color: #95C566;
    border-color: #95c566;
    padding: 11px 15px;
    border-radius: 3px;
    border: #95c566 1px solid;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.5s;

}

.btn__send:hover{
    background-color: #96db7c;
    transition: 0.5s;
}

.value__number{
    color: #95c566;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.value__phone{
    margin-top: 40px;
    margin-bottom: 40px;
}

.value__thanks{
    color: #4F8A10;
    background-color: #DFF2BF;
    border: 0;
    padding: 10px 20px;
    margin-top: 30px;
    display: none;
}

.value__thanks-after-click{
    display: block;
}

